{% extends 'base.html.twig' %}

{% block title %}{{parent()}} show {% endblock %}

{% block body %}
<h2 class="m-3">Tous les tags (cliquer pour éditer):</h2>

<section>
    <ol>
        {% for tag in tags %}
        <li>
            <a href="{{ path('backend_tag_edit', {'id': tag.id}) }}" class="badge badge-info">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ol>
    <a href="{{ path('backend_tag_new') }}" class="btn btn-success"><i class="fas fa-plus-square"></i> Ajouter un tag</a>
</section>
{% endblock %}
